@import "../../css/_variables.css";

.link {
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border: 2px solid var(--accentColor);
  border-radius: 50px;
  text-shadow: var(--lightFontColor) 1px 1px 0;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--accentColor);
  color: var(--darkFontColor);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  user-select: none;
}

@media (min-width: 640px) {
  .link {
    padding: 14px 0;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .link {
    padding: 20px 0;
    font-size: 24px;
    background-color: inherit;
    color: var(--lightFontColor);
  }

  .link:hover,
  .link:focus {
    background-color: var(--accentColor);
    color: var(--darkFontColor);
  }
}
