@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import "../../css/_variables.css";

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkFontColor);
}

.content {
  font-size: 36px;
  font-family: "Oleo Script Swash Caps", cursive;
  color: var(--accentColor);
}
